# Python artifacts
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
*.venv
ENV/

# macOS artifacts
.DS_Store

# Other artifacts
*.env
*.zip
*report_*.txt
*.json
*.pdf

ContextAwareChunkSplitting.py